@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Geist";
    src: url("fonts/Geist-Regular.otf")
  }
  html {
    font-family: geist;
    font-size: 18px;
    background-color: #f9f9f9;
  }
}

